@font-face {
    font-family: titleFont;
    src: url(../../../../assets/params/css/Mediga.woff);
  }

h3 {
    font-family: titleFont;
}

@media (min-width: 1200px) {
    .text {
        padding: 10vh 1vw 0vh 1vw;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 981px)  {
    .text {
        padding: 2vh 0vw 0vh 0vw;
    }
}
@media only screen and (max-width: 981px) and (min-width: 292px)  {
    .text {
        padding: 3vh 7vw 5vh 7vw;
    }
}

.pic1 {
    width: 75%;
    margin-left: 0%;
}



.line {
    border: 1px solid black;
    transform: translate(139px, -40px);
    width: 79%;
    z-index: -1;
}

@media only screen and (max-width: 1400px) and (min-width: 0px)  {
    .line {
        display: none;
    }
}