<div class="container py-2" @fade>
  <div class="row" style="margin-top: 5vh;">
    <div class="col-12 col-lg-5">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching3.jpg" alt="">
    </div>
    <div class="col-12 col-lg-7 text1">
      <h3>Teaching</h3> <br>
      <i>Mathematical Institute, University of Oxford</i> | <i>Oxford, UK, 2020 &ndash; 2022</i><br>
      
        <ul>
            <li>String Theory I, class tutor, HT 2022.</li>
            <li>String Theory II, TA, class tutor, TT 2020, TT 2021.</li>
            <li>Supersymmetry and Supergravity, TA, HT 2019.</li>
        </ul>
    <br>
  
      <i>Niels Bohr Institute, University of Copenhagen</i> | <i>Copenhagen, DK, </i> 2016 &ndash; 2018<br>
      
      <ul>
          <li>Introduction to Gauge/Gravity Duality, class tutor, block 4 2018.</li>
          <li>Analytical Mechanics, class tutor, block 1 2016.</li>
          <li>Supersymmetry and Supergravity, TA, HT 2019.</li>
      </ul>
    </div>
    <hr class="line">
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 text2">
      <h3>Supervision Activities</h3><br>
        <i>SCGP, Stony Brook U.</i> | <i>Stony Brook, NY, USA, </i>  05/2023 &ndash; current <br>
          
        <ul>
          <li>Supervision of project on generalized symmetries in holography for first-year PhD student Shihab Fadda.</li>
        </ul>
        
    </div>
    <div class="col-12 col-lg-5">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching4.png" alt="">
    </div>
    <hr class="line">
  </div>
  
</div>
