<div class="container py-2" @fade>
  <div class="row" style="margin-top: 5vh;">
    <div class="col-12 col-lg-6">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching2.jpg" alt="">
    </div>
    <div class="col-12 col-lg-6 text1">
      <h3>Titel1</h3>
      <p>
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
      </p>
    </div>
    <hr class="line">
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 text2">
      <h3>Titel2</h3>
      <p>
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
        Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching3.jpg" alt="">
    </div>
    <hr class="line">
  </div>



  <p>
    <b>Supervision Activities</b> 05/2023 -- <br>
    <i>SCGP, Stony Brook U.</i> | <i>Stony Brook, NY, USA</i><br>
     Supervision of project on generalized symmetries in holography for first-year PhD student Shihab Fadda.
  </p>
      
        <b>Teaching</b><br>
        <i>Mathematical Institute, University of Oxford</i> | <i>Oxford, UK</i> RIGHT ALIGN 2020 -- 2022<br>
        <ul>
            <li>String Theory I, class tutor, HT 2022.</li>
            <li>String Theory II, TA, class tutor, TT 2020, TT 2021.</li>
            <li>Supersymmetry and Supergravity, TA, HT 2019.</li>
        </ul>
    
  
      <i>Niels Bohr Institute, University of Copenhagen</i> | <i>Copenhagen, DK</i> 2016 -- 2018<br>
      <ul>
          <li>Introduction to Gauge/Gravity Duality, class tutor, block 4 2018.</li>
          <li>Analytical Mechanics, class tutor, block 1 2016.</li>
          <li>Supersymmetry and Supergravity, TA, HT 2019.</li>
      </ul>
  
</div>
