<div class="container py-2" @fade>
  <div >
    <div class="container">
        <div class="row">
          <div class="col-1">

          </div>
          <div class="col-8">
            <h1>
              Below is a couple of my publications
            </h1>
          </div>
          
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="panel-group accordion" id="accordion" role="tablist">
                  <div *ngFor="let pub of publications; let i=index;" class="panel panel-default">
                    <div class="panel-heading" role="tab">
                      
                        <a id="collapse" class="collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse'+i">
                          <h4 class="panel-title">
                            {{pub.title}}
                          </h4>
                          <div class="authors">
                            <p>
                              {{pub.authors}} {{pub.date}}
                            </p>
                            <p>
                              {{pub.addInfo}}
                            </p>
                          </div>
                          
                        </a>
                    
                    </div>
                    <div [attr.id]="'panelsStayOpen-collapse'+i" class="panel-collapse collapse in" role="tabpanel">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-11">
                            <p style="margin-top: 20px;">
                              Abstract: <br><br>
                            </p>
                          </div>
                          <div class="col-1">
                            <a [attr.href]="pub.pdfLink" target="_blank" type="button" class="nga-btn-arxiv">
                              <img src="../../../../assets/icons/arxiv.svg" class="arxiv">
                            </a>
                          </div>
                          
                        </div>
                        
                        <p>
                          {{pub.body}}
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
