.nga-footer {
  position:relative;
  bottom:-120px;
  background-color:rgb(37, 37, 37);
  width:100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: white;
  text-decoration: underline;
}

.nga-footer .nga-hint {
  background-color: #1976d2;
}

.nga-footer .nga-hint:hover {
  opacity: 0.8;
}

.nga-btn-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 15px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px
}

.nga-btn-social i {
  font-size: 1.25rem;
  line-height: 42px
}

.nga-btn-social i {
  display: inline-block;
  width: inherit;
  color: rgb(255, 255, 255);
  text-align: center
}



/* Linkedin */
.nga-btn-linkedin {
  background-color: rgb(255, 255, 255);
}

.nga-btn-social i {
  color: rgb(37, 37, 37);
}

.nga-btn-linkedin:hover {
  background-color: #0082ca;
}

.nga-btn-social i:hover {
  color: rgb(255, 255, 255);
}

/* Inspire */
.nga-btn-inspire {
  background-color: rgb(255, 255, 255);
}

.nga-btn-inspire:hover {
  background-color: rgb(112,156,203);
}

.inspire {
  width: 1.5em;
  margin-top: 5px;
  margin-left: 8px;
  filter: invert(0%) sepia(1%) saturate(7470%) hue-rotate(330deg) brightness(95%) contrast(100%);
}

.inspire:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* Orcid */
.nga-btn-orcid {
  background-color: rgb(255, 255, 255);
}

.nga-btn-orcid:hover {
  background-color: #5c5b5b;
}

.orcid {
  width: 1.5em;
  margin-top: 5px;
  margin-left: 8px;
  filter: invert(0%) sepia(1%) saturate(7470%) hue-rotate(330deg) brightness(95%) contrast(100%);
}

.orcid:hover {
  filter: invert(77%) sepia(18%) saturate(1589%) hue-rotate(30deg) brightness(102%) contrast(80%);
}

.simons {
  width: 14vw;
}

.stonyBrook {
  width: 7vw;
  margin-left: 25%;
  margin-right: 10%;
}




@media (min-width: 1600px) {
  .stonyBrook {
    width: 7vw;
  }
  .simons {
    width: 14vw;
  }
} 

@media only screen and (max-width: 1600px) and (min-width: 1350px) {
  .stonyBrook {
    width: 7vw;
  }
  .simons {
    width: 14vw;
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1150px) {
  .stonyBrook {
    width: 7vw;
  }
  .simons {
    width: 14vw;
  }

}

@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .stonyBrook {
    width: 7vw;
  }
  .simons {
    width: 14vw;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 991px) {
  .stonyBrook {
    width: 7vw;
  }
  .simons {
    width: 14vw;
  }
}


