<footer class="nga-footer">
  <div class="container py-0 text-center">
    <div class="row">
      <div class="col-12"></div>
      <div class="col-12">
        <div>
          <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.linkedin.com/in/marieke-tunstall-van-beest-526650106/"
            aria-label="Linkedin Marieke" target=”_blank”>
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-inspire" href="https://inspirehep.net/authors/1790663"
            aria-label="InspireHep Marieke" target=”_blank”>
            <img src="assets/icons/inspire-square.svg" class="inspire">
          </a>
          <a type="button" class="nga-btn-social nga-btn-orcid" href="https://orcid.org/0000-0001-6424-941X"
            aria-label="Orcid Marieke" target=”_blank”>
            <img src="assets/icons/orcid-square.svg" class="orcid">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>