.nga-footer {
  position:fixed;
  bottom:0px;
  background-color:rgb(40,45,78);
  width:100%;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: white;
  text-decoration: underline;
}

.nga-footer .nga-hint {
  background-color: #1976d2;
}

.nga-footer .nga-hint:hover {
  opacity: 0.8;
}

.nga-btn-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px
}

.nga-btn-social i {
  font-size: 1.25rem;
  line-height: 47px
}

.nga-btn-social i {
  display: inline-block;
  width: inherit;
  color: white;
  text-align: center
}

.nga-btn-social:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nga-btn-social i:hover {
  color: black;
}

.nga-btn-orcid {
  background-color: #5c5b5b;
}

.nga-btn-gitlab {
  background-color: #ff4500;
}

.nga-btn-linkedin {
  background-color: #0082ca;
}

.nga-btn-inspire {
  background-color: rgb(112,156,203);
}

.inspire {
  width: 1.8em;
  margin-top: 5px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
}

.orcid {
  width: 1.8em;
  margin-top: 5px;
  filter: invert(77%) sepia(18%) saturate(1589%) hue-rotate(30deg) brightness(102%) contrast(80%);
}


