<footer class="nga-footer">
  <div class="container py-0 text-center">
    <div class="row">
      <div class="col-12"></div>
      <div class="col-12">
        <div>
          <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.linkedin.com/in/dannyganatan/"
            aria-label="Linkedin ganatan">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-twitter" href="https://twitter.com/dannyganatan"
            aria-label="Twitter ganatan">
            <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-github" href="https://github.com/ganatan"
            aria-label="Github ganatan">
            <i class="fab fa-github"></i></a>
          <a type="button" class="nga-btn-social nga-btn-gitlab" href="https://gitlab.com/ganatan"
            aria-label="Gitlab ganatan">
            <i class="fab fa-gitlab"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>