<div class="nga-footer ">
  <footer class=" d-flex flex-wrap justify-content-between align-items-center py-4 my-5">
    <div class="col-md-5 d-flex align-items-center">
      <img src="assets/params/images/logo/stonyBrook.png" class="stonyBrook">
      <img src="assets/params/images/logo/simonsCenter.png" class="simons">
    </div>


    <ul class="nav col-md-4 align-items-center justify-content-end d-flex" style="padding-right: 10%;">
      <a type="button" class="nga-btn-social nga-btn-linkedin" href="https://www.linkedin.com/in/marieke-tunstall-van-beest-526650106/"
      aria-label="Linkedin Marieke" target=”_blank”>
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a type="button" class="nga-btn-social nga-btn-inspire" href="https://inspirehep.net/authors/1790663"
      aria-label="InspireHep Marieke" target=”_blank”>
      <img src="assets/icons/inspire-square.svg" class="inspire">
    </a>
    <a type="button" class="nga-btn-social nga-btn-orcid" href="https://orcid.org/0000-0001-6424-941X"
      aria-label="Orcid Marieke" target=”_blank”>
      <img src="assets/icons/orcid-square.svg" class="orcid">
    </a>
    </ul>
  </footer>
</div>