<div class="container py-2">
  <p>contact2 works!</p>
  <ul>
    <li><a routerLink="/contact2/mailing">Mailing</a></li>
    <li><a routerLink="/contact2/mapping">Mapping</a></li>
    <li><a routerLink="/contact2/website">Website</a></li>
  </ul>
  <h4>Child Routes Result</h4>
  <router-outlet></router-outlet>
</div>
<div class="container py-2">
  <p>contact2 works!</p>
  <ul>
    <li><a routerLink="/contact2/mailing">Mailing</a></li>
    <li><a routerLink="/contact2/mapping">Mapping</a></li>
    <li><a routerLink="/contact2/website">Website</a></li>
  </ul>
  <h4>Child Routes Result</h4>
  <router-outlet></router-outlet>
</div>
<div class="container py-2">
  <p>contact2 works!</p>
  <ul>
    <li><a routerLink="/contact2/mailing">Mailing</a></li>
    <li><a routerLink="/contact2/mapping">Mapping</a></li>
    <li><a routerLink="/contact2/website">Website</a></li>
  </ul>
  <h4>Child Routes Result</h4>
  <router-outlet></router-outlet>
</div>
<div class="container py-2">
  <p>contact2 works!</p>
  <ul>
    <li><a routerLink="/contact2/mailing">Mailing</a></li>
    <li><a routerLink="/contact2/mapping">Mapping</a></li>
    <li><a routerLink="/contact2/website">Website</a></li>
  </ul>
  <h4>Child Routes Result</h4>
  <router-outlet></router-outlet>
  <h4>Slut</h4>
  <!-- <div class="clear"></div> -->
</div>