<div class="container py-2" @fade>
  <div>
    <div class="right">

    </div>
    <div class="left">
      <img src="../../../../assets/params/images/home/marieke.jpg" class="marieke">

      <h2>
        Marieke van Beest
      </h2>
      <br>
      <p>
        I am a Danish theoretical physicist currently living in Long Island, New York, USA. I am a postdoc at the Simons Center for Geometry and Physics. My research centers on problems in quantum field theory and string theory.
      </p>
    
    </div>
    <div class="footCorrect"></div>
  </div>
  
  
</div>
