.nga-nav-link {
  color: rgb(235, 94, 75);
  border-top: 1px solid rgb(235, 94, 75);
  border-bottom: 1px solid rgb(235, 94, 75);
  font-weight: 500;
}

.nga-nav-link:hover {
  color: rgb(0, 255, 242);
  border-top: 1px solid rgb(0, 255, 242);
  border-bottom: 1px solid rgb(0, 255, 242);
}


.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(40,45,78);
}

.nga-logo {
  font-weight: 500;
  font-family: 'FontAwesome';
  color: rgba(211, 33, 33, 0.75);
}

.nga-logo:hover {
  color: rgba(0, 255, 242, 0.479);
}

.nga-btn-navbar {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
}


