@font-face {
  font-family: titleFont;
  src: url(../../../assets/params/css/Mediga.woff);
}


.container {
  max-width: 1600px;
}
@media (max-width: 991px) {
  .nga-btn-linkedin {
    margin-left: 34vw !important;
  }
  .nga-nav-link {
    font-size: 10px;
  }
}

@media (max-width: 710px) {
  .nga-btn-linkedin {
    margin-left: 30vw !important;
  }

  .nga-logo {
    font-size: 52px !important;
  }
}

@media (max-width: 600px) {
  .nga-btn-linkedin {
    margin-left: 30vw !important;
  }

  .nga-logo {
    font-size: 50px !important;
  }

  .titleMarieke {
    height: 80px;
  }
}

@media (max-width: 540px) {
  .nga-btn-linkedin {
    margin-left: 26vw !important;
  }

  .nga-logo {
    font-size: 45px !important;
  }

  .titleMarieke {
    height: 65px;
  }
}

@media (max-width: 500px) {
  .nga-btn-linkedin {
    margin-left: 26vw !important;
  }

  .nga-logo {
    font-size: 40px !important;
  }

  .titleMarieke {
    height: 60px;
  }
}

@media (max-width: 460px) {
  .nga-btn-linkedin {
    margin-left: 24vw !important;
  }

  .nga-logo {
    font-size: 35px !important;
  }

  .titleMarieke {
    height: 55px;
  }
}

@media (max-width: 400px) {
  .nga-btn-linkedin {
    margin-left: 21vw !important;
  }

  .nga-logo {
    font-size: 30px !important;
  }

  .titleMarieke {
    height: 50px;
  }
}

.nga-nav-link {
  color: rgb(37, 37, 37);
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 500;
  font-family: titleFont;
}

/* Sorte streger */
/* .nga-nav-link:hover {
  border-top: 1px solid rgb(37, 37, 37);
  border-bottom: 1px solid rgb(37, 37, 37);
  transition: border 0.8s ease-in-out;
} */

.nga-nav-link:after {
  content: '';
  display: block;
  margin: auto;
  height: 0.1px;
  width: 0px;
  background: transparent;
  transition: width 0.8s ease, background-color 0.8s ease;
}
.nga-nav-link:hover:after {
  width: 100%;
  background: rgb(0, 0, 0);
}



.nav-item {
  margin-inline: 1vw;
  padding-left: 15px;
  padding-right: 15px;
}

.nga-navbar {
  /* -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12); */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12); */
  background-color: rgb(255, 255, 255);
}

.nga-logo {
  font-weight: 500;
  font-family: 'DatalegreyaThin';
  color: rgb(37, 37, 37);
  font-style: normal; 
  font-size: 52px;
}

.nga-logo:hover {
  color: rgb(138, 138, 138);
}

.nga-btn-navbar {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
}


.nga-footer {
  position:fixed;
  bottom:0px;
  background-color:rgb(40,45,78);
  width:100%;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: white;
  text-decoration: underline;
}

.nga-footer .nga-hint {
  background-color: #1976d2;
}

.nga-footer .nga-hint:hover {
  opacity: 0.8;
}

.nga-btn-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 15px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  /* -webkit-box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px
}

.nga-btn-social i {
  font-size: 1.25rem;
  line-height: 47px
}

.nga-btn-social i {
  display: inline-block;
  width: inherit;
  color: rgb(255, 255, 255);
  text-align: center
}

.nga-btn-social:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nga-btn-social i:hover {
  color: black;
}

/* Linkedin */
.nga-btn-linkedin {
  background-color: rgb(255, 255, 255);
}

.nga-btn-social i {
  color: rgb(37, 37, 37);
}

.nga-btn-linkedin:hover {
  background-color: #0082ca;
}

.nga-btn-social i:hover {
  color: rgb(255, 255, 255);
}

/* Inspire */
.nga-btn-inspire {
  background-color: rgb(255, 255, 255);
}

.nga-btn-inspire:hover {
  background-color: rgb(112,156,203);
}

.inspire {
  width: 1.5em;
  margin-top: 8px;
  margin-left: 11px;
  filter: invert(0%) sepia(1%) saturate(7470%) hue-rotate(330deg) brightness(95%) contrast(100%);
}

.inspire:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* Orcid */
.nga-btn-orcid {
  background-color: rgb(255, 255, 255);
}

.nga-btn-orcid:hover {
  background-color: #5c5b5b;
}

.orcid {
  width: 1.5em;
  margin-top: 8px;
  margin-left: 11px;
  filter: invert(0%) sepia(1%) saturate(7470%) hue-rotate(330deg) brightness(95%) contrast(100%);
}

.orcid:hover {
  filter: invert(77%) sepia(18%) saturate(1589%) hue-rotate(30deg) brightness(102%) contrast(80%);
}

@media (min-width: 991px) {
  .navbar>.container {
    flex-direction: column;
  }


  .navbar-collapse {
    transform: translate(100px);
  }

  .titleMarieke {
    height: 70px;
  }
}

@media (min-width: 1600px) {
  .links {
    transform: translate(8vw, -60px);
  }
  
} 

@media only screen and (max-width: 1800px) and (min-width: 1600px) {
  .links {
    transform: translate(4vw , -60px);
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1380px) {
  .links {
    transform: translate(3vw, -60px);
  }
}

@media only screen and (max-width: 1380px) and (min-width: 1150px) {
  .links {
    transform: translate(3vw, -60px);
  }

  .nav-item {
    padding-inline: 1vw;
  }

}

@media only screen and (max-width: 1150px) and (min-width: 1000px) {
  .links {
    transform: translate(1vw, -60px);
  }
  .nav-item {
    padding-inline: 0.5vw;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 991px) {
  .links {
    transform: translate(1vw, -60px);
  }
  .nav-item {
    padding-inline: 0vw;
  }
}

/* Icon view hide if no space*/

@media only screen and (max-width: 1450px) and (min-width: 991px) {
  .links {
    visibility: hidden;
  }
}

@media only screen and (max-width: 2450px) and (min-width: 800px) {
  .nga-nav-link {
    font-size: 21px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 0px) {
  .nga-nav-link {
    font-size: 18px;
  }
}



