<div class="container py-5" @fade>
  <div class="row">
    <div class="col-7">
        <div class="accordion-wrap">
            <a *ngFor="let about of abouts; let i=index;" class="accordion collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse'+i" role="button" aria-expanded="false" >
            <div class="teaser">
                <div class="title">
                    <h3>{{about.title}}</h3>
                </div>
            </div>
                
                <div class="collapse"  [attr.id]="'panelsStayOpen-collapse'+i">
          <div class="content" [innerHTML]="about.html | sanitizedHtml">
            
          </div>
        </div>
                
                <div class="accordion-toggle">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-5 pic">
        <img src="../../../../assets/params/images/aboutMe/About_me_dummy_billede.jpg" class="marieke">
        <div class='box'></div>
    </div>
</div>
</div>


