<div class="container py-2" @fade>
  <div class="row">
      <div class="col-1">

      </div>
      <div class="col-8">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div *ngFor="let about of abouts; let i=index;" class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                          <a role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse'+i">
                              {{about.title}}
                          </a>
                      </h4>
                  </div>
                  <div [attr.id]="'panelsStayOpen-collapse'+i" class="panel-collapse collapse in" role="tabpanel" >
                      <div class="panel-body">
                          <p>{{about.text}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
