<div class="container py-3" @fade>

  <section>
    <div *ngIf="loaded" class="card-columns">
      <div *ngFor="let item of items; let i=index;" class="card profile-card-5">
        <div class="card-img-block">
          <a *ngIf="item.youtubeLink != null" (click)="openTrailer(item.youtubeLink, true)">
            <img src="https://img.youtube.com/vi/{{ item.youtubeLink }}/mqdefault.jpg"
              class="img-fluid rounded z-depth-2 card-movie-img" alt="">
          </a>
          <a *ngIf="item.youtubeLink == null && item.link != null" (click)="openTrailer(item.link, false)">
            <img src="{{ item.imagePath }}"
              class="img-fluid rounded z-depth-2 card-movie-img" alt="">
          </a>
        </div>
        
        <div class="card-body d-flex flex-column">
          <h5 class="date">{{item.date}}</h5>
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text mb-4" [innerHTML]="item.body"></p>
          <a *ngIf="item.youtubeLink != null" (click)="openTrailer(item.youtubeLink, true)" class="btn btn-primary mt-auto align-self-start">Watch</a>
          <a *ngIf="item.link != null" (click)="openTrailer(item.link, false)" class="btn btn-primary mt-auto align-self-start">Link to website</a>
          <a *ngIf="item.slides != null" (click)="openTrailer(item.slides, false)" class="btn btn-primary mt-auto align-self-start">Slides</a>
        </div>
      </div>
    </div>
  </section>

  

  <section style="text-align: center;">
  
    <h2>Invited Plenary Talks</h2>
    <br>

    <h5>Oct 2023 | Symmetry Seminar</h5>
    <p>
      <i><b>Online Seminar Series</b></i>
    </p>

    <hr>  
    
    <h5>Sep 2023 | Intersections of String Theory and QFT IV</h5>
    <p>
      <i><b>University of Birmingham</b></i> | <i>Birmingham, UK</i>
    </p>

    <hr>
    
    <h5>Jul 2023 | String Math 2023</h5>
    <p>
      <i><b>University of Melbourne</b></i> | <i>Melbourne, Australia</i>
    </p>

    <h5>Oct 2022 | 5d N=1 SCFTs and Gauge Theories on Brane Webs</h5>
    <p>
      <i><b>SCGP, Stony Brook U.</b></i> | <i>Stony Brook, USA</i>
    </p>

    <h5>Aug 2022 | Engineering in the Landscape: Geometry, Symmetries and Anomalies</h5>
    <p>
      <i><b>Uppsala U.</b></i> | <i>Uppsala, Sweden</i>
    </p>

    <h5>Jul 2022 | XII Workshop on Geometric Correspondences of Gauge Theories</h5>
    <p>
      <i><b>SISSA</b></i> | <i>Trieste, Italy</i>
    </p>

    <h5>May 2022 | Higher form symmetries, defects, and boundaries in QFT</h5>
    <p>
      <i><b>Technion</b></i> | <i>Haifa, Israel</i>
    </p>

    <h5>Dec 2021 | NL Seminar Series</h5>
    <p>
      <i><b>Online Seminar Series on Non-Lorentzian Geometries</b></i>
    </p>

    <h5>Nov 2021  | INFN Strings Young Days</h5>
    <p>
      <i><b>Online Conference</b></i>
    </p>

    <h5>Sep 2021 | String-Pheno Seminars</h5>
    <p>
      <i><b>Online Seminar Series</b></i>
    </p>

    <br>
    <h2>Invited Seminars at other Institutions</h2>
    <br>

    <h5>Sep 2023 | Monopoles, Scattering, and Generalized Symmetries</h5>
    <p>
      <i><b>Nordita</b></i> | <i>Stockholm, Sweden</i>
    </p>

    <h5>Jul 2023 | Monopoles, Scattering, and Generalized Symmetries</h5>
    <p>
      <i><b>CMSA, Harvard</b></i> | <i>Online</i>
    </p>

    <h5>Mar 2023 | Symmetry TFT for 3d Quantum Field Theories in M-theory</h5>
    <p>
      <i><b>City College at the City University of New York</b></i> | <i>New York City, USA</i>
    </p>

    <h5>Jan 2023 | Symmetries of 3d QFTs from M-theory</h5>
    <p>
      <i><b>University of Pennsylvania</b></i> | <i>Philadelphia, USA</i>
    </p>

    <h5>Mar 2022 | Higgs Branches of 5d Superconformal Field Theories</h5>
    <p>
      <i><b>University of Birmingham</b></i> | <i>Birmingham, UK</i>
    </p>

    <h5>Sep 2020 | Leaves and Branches in the Polynesian Tropical Rain Forest</h5>
    <p>
      <i><b>Quiver Meeting, Imperial College London</b></i> | <i>Online</i>
    </p>

    <br>
    <h2>Invited Lectures at International Schools</h2>
    <br>

    <h5>Dec 2022 | SUSY QFTs in various dimensions</h5>
    <p>
      <i><b>Avogadro Meeting </b></i> | <i>Turin, Italy</i>
    </p>
  </section>

  <section>
    <section>
      <div class="modal fade" id="newsModal" role="dialog" tabindex="-1" aria-labelledby="youtube Player"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header clearfix d-block d-sm-none d-flex justify-content-center">
              <button type="button" class="btn btn-sm btn-outline-primary btn-rounded btn-md ml-4"
                data-bs-dismiss="modal">
                <strong>Close</strong>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="playerLoaded" class="nga-embed nga-embed-youtube nga-z-depth">
                <iframe class="nga-embed-item" [src]="('https://www.youtube.com/embed/' + player ) | safe"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button"
                class="clearfix d-none d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block btn btn-outline-primary btn-sm btn-rounded btn-md"
                data-bs-dismiss="modal"><strong>Close</strong></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  
</div>