<div class="container py-3" @fade>

  <section>
    <div *ngIf="loaded" class="card-columns">
      <div *ngFor="let item of items; let i=index;" class="card profile-card-5">
        <div class="card-img-block">
          <a *ngIf="item.youtubeLink != null" (click)="openTrailer(item.youtubeLink, true)">
            <img src="https://img.youtube.com/vi/{{ item.youtubeLink }}/mqdefault.jpg"
              class="img-fluid rounded z-depth-2 card-movie-img" alt="">
          </a>
          <a *ngIf="item.youtubeLink == null && item.link != null" (click)="openTrailer(item.link, false)">
            <img src="{{ item.imagePath }}"
              class="img-fluid rounded z-depth-2 card-movie-img" alt="">
          </a>
        </div>
        
        <div class="card-body d-flex flex-column">
          <h5 class="date">{{item.date}}</h5>
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text mb-4" [innerHTML]="item.body"></p>
          <a *ngIf="item.youtubeLink != null" (click)="openTrailer(item.youtubeLink, true)" class="btn btn-primary mt-auto align-self-start">Watch</a>
          <a *ngIf="item.link != null" (click)="openTrailer(item.link, false)" class="btn btn-primary mt-auto align-self-start">Link to website</a>
          <a *ngIf="item.slides != null" (click)="openTrailer(item.slides, false)" class="btn btn-primary mt-auto align-self-start">Slides</a>
        </div>
      </div>
    </div>
  </section>

  

  <section style="text-align: center;">
  
    <h3>Invited Plenary Talks</h3>
    <br>
    <p>
      Oct 2023 | <b>Symmetry Seminar</b><br>
      <i>Online Seminar Series</i><br><br>
    
      Sep 2023 | <b>Intersections of String Theory and QFT IV</b><br>
      <i>University of Birmingham</i> | <i>Birmingham, UK</i><br><br>
      
      Jul 2023 | <b>String Math 2023</b><br>
      <i>University of Melbourne</i> | <i>Melbourne, Australia</i><br><br>
      
      Oct 2022 | <b>5d N=1 SCFTs and Gauge Theories on Brane Webs</b><br>
      <i>SCGP, Stony Brook U.</i> | <i>Stony Brook, USA</i><br><br>
      
      Aug 2022 | <b>Engineering in the Landscape: Geometry, Symmetries and Anomalies</b><br>
      <i>Uppsala U.</i> | <i>Uppsala, Sweden</i><br><br>
      
      Jul 2022 | <b>XII Workshop on Geometric Correspondences of Gauge Theories</b><br>
      <i>SISSA</i> | <i>Trieste, Italy</i><br><br>
      
      May 2022 | <b>Higher form symmetries, defects, and boundaries in QFT</b><br>
      <i>Technion</i> | <i>Haifa, Israel</i><br><br>
      
      Dec 2021 | <b>NL Seminar Series</b><br>
      <i>Online Seminar Series on Non-Lorentzian Geometries</i><br><br>
      
      Nov 2021  | <b>INFN Strings Young Days</b><br>
      <i>Online Conference</i><br><br>
      
      Sep 2021 | <b>String-Pheno Seminars</b><br>
      <i>Online Seminar Series</i>
    </p>

    <br>
    <h3>Invited Seminars at other Institutions</h3>
    <br>

    <p>
      Sep 2023 | Monopoles, Scattering, and Generalized Symmetries<br>
      <i><b>Nordita</b></i> | <i>Stockholm, Sweden</i><br><br>
      
      Jul 2023 | Monopoles, Scattering, and Generalized Symmetries<br>
      <i><b>CMSA, Harvard</b></i> | <i>Online</i><br><br>
      
      Mar 2023 | Symmetry TFT for 3d Quantum Field Theories in M-theory<br>
      <i><b>City College at the City University of New York</b></i> | <i>New York City, USA</i><br><br>
      
      Jan 2023 | Symmetries of 3d QFTs from M-theory<br>
      <i><b>University of Pennsylvania</b></i> | <i>Philadelphia, USA</i><br><br>

      Mar 2022 | Higgs Branches of 5d Superconformal Field Theories<br>
      <i><b>University of Birmingham</b></i> | <i>Birmingham, UK</i><br><br>

      Sep 2020 | Leaves and Branches in the Polynesian Tropical Rain Forest<br>
      <i><b>Quiver Meeting, Imperial College London</b></i> | <i>Online</i>
    </p>

    <br>
    <h3>Invited Lectures at International Schools</h3>
    <br>
    <p>
    Dec 2022 | SUSY QFTs in various dimensions<br>
      <i><b>Avogadro Meeting </b></i> | <i>Turin, Italy</i>
    </p>
  </section>

  <section>
    <section>
      <div class="modal fade" id="newsModal" role="dialog" tabindex="-1" aria-labelledby="youtube Player"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header clearfix d-block d-sm-none d-flex justify-content-center">
              <button type="button" class="btn btn-sm btn-outline-primary btn-rounded btn-md ml-4"
                data-bs-dismiss="modal">
                <strong>Close</strong>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="playerLoaded" class="nga-embed nga-embed-youtube nga-z-depth">
                <iframe class="nga-embed-item" [src]="('https://www.youtube.com/embed/' + player ) | safe"
                  allowfullscreen></iframe>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button"
                class="clearfix d-none d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block btn btn-outline-primary btn-sm btn-rounded btn-md"
                data-bs-dismiss="modal"><strong>Close</strong></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  
</div>