<div class="container py-0" @fade>


  <section class="light">
    <div class="container py-0">
      <h1 class="h1 text-center" id="pageHeaderTitle">My Cards Dark</h1>
  
      <article class="postcard dark blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play blue">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard dark red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play red">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard dark green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play green">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard dark yellow">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play yellow">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  
  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">My Cards Light</div>
  
      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play blue">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play red">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play green">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light yellow">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
            <li class="tag__item play yellow">
              <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>



  <div class="row justify-content-center">
    <div class="col">
      <div *ngIf="loaded" class="row pt-4">
        <div *ngFor="let item of items; let i=index;" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 px-2 mb-3">
          <div class="nga-card-movie">
            <div class="row">
              <div class="col">
                <div class="card-movie-img">
                  <a (click)="openTrailer(item)">
                    <img src="https://img.youtube.com/vi/{{ item.youtubeLink }}/mqdefault.jpg"
                      class="img-fluid rounded z-depth-2" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-movie-text">
                  <a class="waves-effect" (click)="openTrailer(item)">
                    <i class=" {{ item.category | category }} me-1"></i>
                    <span>{{ item.name}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="modal fade" id="newsModal" role="dialog" tabindex="-1" aria-labelledby="youtube Player"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header clearfix d-block d-sm-none d-flex justify-content-center">
            <button type="button" class="btn btn-sm btn-outline-primary btn-rounded btn-md ml-4"
              data-bs-dismiss="modal">
              <strong>Close</strong>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="playerLoaded" class="nga-embed nga-embed-youtube nga-z-depth">
              <iframe class="nga-embed-item" [src]="('https://www.youtube.com/embed/' + player ) | safe"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button"
              class="clearfix d-none d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block btn btn-outline-primary btn-sm btn-rounded btn-md"
              data-bs-dismiss="modal"><strong>Close</strong></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>