@font-face {
    font-family: titleFont;
    src: url(../../../../../assets/params/css/Mediga.woff);
  }
  
  h2 {
    font-family: titleFont;
  }

  h4 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }


