<div class="container py-5" @fade>
  
  <div class="row">
    <div class="col-12 col-xl-4 text-center">
        <a href="https://google.com" target="_blank">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="pic1" src="../../../../assets/params/images/teaching/Teaching2.jpg" alt="">
              </div>
              <div class="flip-card-back1">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
              </div>
            </div>
          </div>
        </a>
        <h4>Titel1</h4>
        <h6>12th of May, 2023</h6>
        <p>Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 </p>
    </div>
    <div class="col-12 col-xl-4 text-center">
      <a href="https://google.com" target="_blank">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="pic1" src="../../../../assets/params/images/teaching/Teaching2.jpg" alt="">
            </div>
            <div class="flip-card-back2">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </a>
      <h4>Titel1</h4>
      <h6>12th of May, 2023</h6>
      <p>Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 </p>
    </div>
    <div class="col-12 col-xl-4 text-center">
      <a href="https://google.com" target="_blank">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="pic1" src="../../../../assets/params/images/teaching/Teaching2.jpg" alt="">
            </div>
            <div class="flip-card-back3">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </a>
      <h4>Titel1</h4>
      <h6>12th of May, 2023</h6>
      <p>Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 Text1 </p>
    </div>
</div>
  <!-- <ul>
    <li><a routerLink="/outreach/instagram">instagram</a></li>
    <li><a routerLink="/outreach/mapping">Mapping</a></li>
  </ul> -->
  <router-outlet></router-outlet>
</div>