<div class="container py-3" @fade>
  
  <div class="row">
    <div class="col-12 col-xl-4 text-center">
        <a href="https://indd.adobe.com/view/5da26a20-8971-438f-92c2-6d2bb4eb0aec" target="_blank">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img class="pic1" src="../../../../assets/params/images/outreach/SCGPNewsCover.jpg" alt="">
              </div>
              <div class="flip-card-back1">
                <p><br><br><br><br><br><br>Go to newsletter &rarr;</p>
              </div>
            </div>
          </div>
        </a>
        <h6>Oct 2023</h6>
        <h3>SCGP News article</h3>
        <p class="tinytext">I was happy to contribute a popular science article based on my paper, <i>Monopoles, Scattering, and Generalized Symmetries</i>, p. 11-15.</p>
    </div>
    <div class="col-12 col-xl-4 text-center">
      <a href="http://sciencefaction.dk/" target="_blank">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="pic1" src="../../../../assets/params/images/outreach/ScienceFaction2.jpg" alt="">
            </div>
            <div class="flip-card-back2">
              <p><br><br><br><br><br><br>Check out Science Faction &rarr;</p>
            </div>
          </div>
        </div>
      </a>
      <h6>Mar 2018</h6>
      <h3>Science Faction panelist</h3>
      <p class="tinytext">Science Faction is a series of panel debates where science is communicated through popular films. I was invited to discuss <i>Interstellar</i>.</p>
    </div>
    <div class="col-12 col-xl-4 text-center">
      <a href="https://www.maths.ox.ac.uk/node/41103" target="_blank">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="pic1" src="../../../../assets/params/images/outreach/OxfordFront.jpg" alt="">
            </div>
            <div class="flip-card-back3">
              <p><br><br><br><br><br><br>Go to case study &rarr;</p>
            </div>
          </div>
        </div>
      </a>
      <h6>Feb 2022</h6>
      <h3>Oxford research case study</h3>
      <p class="tinytext">I wrote a short case study on some of the research I did as a DPhil student at the University of Oxford.</p>
    </div>
</div>
  <!-- <ul>
    <li><a routerLink="/outreach/instagram">instagram</a></li>
    <li><a routerLink="/outreach/mapping">Mapping</a></li>
  </ul> -->
  <router-outlet></router-outlet>
</div>