
body {
  padding-bottom: 7rem;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width: 2000px) and (min-width: 991px) {
  body {
    padding-top: 10rem !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 540px) {
  body {
    padding-top:7rem;
  }
}

@media only screen and (max-width: 540px) and (min-width: 500px) {
  body {
    padding-top:5rem;
  }
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
  body {
    padding-top:4rem;
  }
}

@media only screen and (max-width: 400px) and (min-width: 0px) {
  body {
    padding-top:4rem;
  }
}